In [1]:
# import packages
import pandas as pd
import numpy as np

# set working directory
import os
os.chdir('/home/jovyan/work/')

In [2]:
from src.data.load_dataset import load_split_store
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

# load_split_store
X_train, y_train, X_val, y_val, X_test, y_test, test_data = load_split_store(
                                                                    filepath='data/', 
                                                                    scaler=scaler, 
                                                                    resample=False, 
                                                                    random_state=42, 
                                                                    test_size=0.1, 
                                                                    replace_negatives=False)

In [10]:
train_data = pd.read_csv("data/raw/train.csv")
train_data.drop(['Id_old', 'Id', 'MIN', 'FGM', 'FGA', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'TOV', 'TARGET_5Yrs'], axis=1).describe()

,GP,PTS,FG%,3P Made,3PA,3P%,FT%,BLK
count,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,62.777875,7.267088,44.608900,0.264525,0.816562,19.583700,71.365825,0.245212
std,17.118774,4.318732,6.155453,0.384093,1.060964,16.003155,10.430447,0.821037
min,-8.000000,0.800000,21.300000,-1.100000,-3.100000,-38.500000,-13.300000,-17.900000
25%,51.000000,4.100000,40.400000,0.000000,0.100000,8.400000,65.000000,0.100000
50%,63.000000,6.300000,44.400000,0.300000,0.800000,19.500000,71.400000,0.200000
75%,74.000000,9.500000,48.700000,0.500000,1.500000,30.600000,77.500000,0.400000
max,123.000000,34.200000,67.200000,1.700000,4.700000,82.100000,168.900000,18.900000

In [22]:
df = test_data[test_data<0]
df = df.dropna(thresh=1)
len(df) / len(test_data)

0.3735193471966307

In [19]:
df = train_data[train_data<0]
df = df.dropna(thresh=1)
len(df) / len(train_data)

0.38075

In [12]:
train_data.drop(['Id_old', 'Id'], axis=1).describe()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,62.777875,18.576662,7.267088,2.807037,6.231212,44.608900,0.264525,0.816562,19.583700,1.392525,1.947788,71.365825,1.077838,2.168500,3.245300,1.624513,0.648687,0.245212,1.257763,0.833625
std,17.118774,8.935263,4.318732,1.693373,3.584559,6.155453,0.384093,1.060964,16.003155,0.926153,1.252352,10.430447,0.785670,1.392224,2.085154,1.355986,0.407626,0.821037,0.723270,0.372440
min,-8.000000,2.900000,0.800000,0.300000,0.800000,21.300000,-1.100000,-3.100000,-38.500000,0.000000,0.000000,-13.300000,0.000000,0.200000,0.300000,0.000000,0.000000,-17.900000,0.100000,0.000000
25%,51.000000,12.000000,4.100000,1.600000,3.600000,40.400000,0.000000,0.100000,8.400000,0.700000,1.000000,65.000000,0.500000,1.100000,1.700000,0.700000,0.300000,0.100000,0.700000,1.000000
50%,63.000000,16.800000,6.300000,2.400000,5.400000,44.400000,0.300000,0.800000,19.500000,1.200000,1.700000,71.400000,0.900000,1.900000,2.800000,1.300000,0.600000,0.200000,1.100000,1.000000
75%,74.000000,23.500000,9.500000,3.700000,8.100000,48.700000,0.500000,1.500000,30.600000,1.900000,2.600000,77.500000,1.500000,2.900000,4.300000,2.200000,0.900000,0.400000,1.600000,1.000000
max,123.000000,73.800000,34.200000,13.100000,28.900000,67.200000,1.700000,4.700000,82.100000,8.100000,11.100000,168.900000,5.500000,11.000000,15.900000,12.800000,3.600000,18.900000,5.300000,1.000000

In [14]:
test_data = pd.read_csv("data/raw/test.csv")
test_data.drop(['Id_old', 'Id', 'MIN', 'FGM', 'FGA', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'TOV'], axis=1).describe()

,GP,PTS,FG%,3P Made,3PA,3P%,FT%,BLK
count,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000
mean,62.853909,7.328034,44.599079,0.255962,0.796920,19.234746,71.612924,0.257726
std,17.151740,4.294724,6.040168,0.380987,1.052862,15.968989,10.457336,0.639660
min,6.000000,0.700000,25.100000,-1.000000,-2.700000,-38.000000,23.700000,-7.100000
25%,51.000000,4.200000,40.500000,0.000000,0.100000,8.500000,65.000000,0.100000
50%,63.000000,6.400000,44.600000,0.300000,0.800000,19.400000,71.500000,0.200000
75%,74.000000,9.400000,48.500000,0.500000,1.500000,30.250000,78.000000,0.400000
max,126.000000,33.000000,74.600000,1.600000,4.300000,73.800000,127.100000,14.800000

In [24]:
df = test_data[test_data['FT%']>100]
df.shape

(30, 21)

In [27]:
df = train_data.copy()
df['tREB'] = df['OREB'] + df['DREB']
dfx = df[df['tREB'] != df['REB']]
dfx.shape

(6161, 23)

In [28]:
6161/8000

0.770125